<table class='table table-bordered text-center'>
  <thead class="table-secondary">
    <tr>
      <th>投稿画像</th>
      <th>タイトル</th>
      <th>会員ニックネーム</th>
      <th>趣味ジャンル</th>
      <th>投稿日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td rowspan="2"><%= image_tag post.get_image, size:"60x60" %></td>
        <td><%= post.title.truncate(10) %></td>
        <td><%= post.member.nickname.truncate(10) %></td>
        <td><%= post.genre.name.truncate(10) %></td>
        <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
        <td>
          <% if current_member.id == post.member.id || current_member.email ==  "guest@example.com" %>
            <span class="text-warning" ><i class="fas fa-star" aria-hidden="true"></i><%= "#{post.favorites.count} いいね" %></span>
          <% else %>
            <%= render "public/favorites/btn", post: post %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="4", class="text-left"><%= "投稿本文：#{post.body}" %></td>
        <td><%= link_to  '詳細画面へ', post_path(post.id), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


