<table class='table table-bordered text-center'>
  <thead class="table-secondary">
    <tr>
      <th>会員画像</th>
      <th>会員ニックネーム</th>
      <th>趣味ステータス</th>
      <th>会員ステータス</th>
      <th>フォロー数</th>
      <th>フォロワー数</th>
      <th>投稿数</th>
      <th colspan="1"></th>
      </tr>
  </thead>
  <tbody>
    <% members.each do |member| %>
      <tr>
        <td rowspan="2"><%= image_tag member.get_profile_image, size:"80x80" %></td>
        <td><%= member.nickname.truncate(10) %></td>
        <td><%= member.hobby_state_i18n %></td>
        <td>
					<% unless member.is_deleted? %>
					  <span>有効</span>
					<% else %>
						<span>退会済み</span>
					<% end %>
				</td>
        </td>
        <td><%= member.followings.count %></td>
        <td><%= member.followers.count %></td>
        <td><%= member.posts.count %></td>
        <td><%= link_to '編集画面へ',  edit_admin_member_path(member.id), class: "btn btn-secondary"  %></td>
      </tr>
      <tr>
        <td colspan="6", class="text-left"><%= "自己紹介文：#{member.introduction}" %></td>
        <td><%= link_to  '詳細画面へ', admin_member_path(member.id), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


