<table class='table table-bordered text-center'>
  <thead class="table-secondary">
    <tr>
      <th>タイトル</th>
      <th>概要</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th colspan="1"></th>
      </tr>
  </thead>
  <tbody>
    <% boards.each do |board| %>
      <tr>
        <td><%= board.title.truncate(10) %></td>
        <td><%= board.body.truncate(30) %></td>
        <% if board.member.is_deleted == false %>
          <td><%= link_to board.member.nickname.truncate(10), member_path(board.member.id) %></td>
        <% else %>
          <td><%= board.member.nickname.truncate(10) %></td>
        <% end %>
        <td><%= board.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to "掲示板へ", board_path(board.id), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
