<div class="container">
  <div class="row">
    <h2>掲示板</h2>
  </div>
  <div class="row">
    <table class="table table-bordered table-dark text-light">
      <caption style="caption-side: top; text-align: right;">タイトル：掲示板概要</caption>
      <thead>
        <tr>
          <th class="col-4"><h5><%= @board.title %></h5></th>
          <th class="col-8"><h6><%= @board.body %></h6></th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="row">
    <table class="table table-sm table-borderless table-striped text-center table-hover">
      <thead class="table-secondary">
        <tr>
          <th class="text-wrap col-10">コメント文</th>
          <th class="text-nowrap col-1">会員名</th>
          <th class="text-nowrap col-1">投稿日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @board_comments.each do |board_comment| %>
        <tr>
          <td class="text-wrap col-10 text-left", style="word-break: break-all"><%= board_comment.comment %></td>
          <td class="text-nowrap col-1">
            <% if board_comment.member_id != nil %>
              <%= board_comment.member.nickname %>
            <% else %>
              <span class="text-danger">管理人</span>
            <% end %>
          </td>
          <td class="text-nowrap col-1"><%= board_comment.member.nickname %></td>
          <td class="text-nowrap col-1"><%= board_comment.created_at.strftime('%Y/%m/%d') %></td>
          <% if current_member.id == board_comment.member.id %>
            <td> <%= link_to "削除", board_board_comment_path(@board, board_comment), method: :delete, class: "btn btn-danger btn-sm text-nowrap" %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
<div class="offset-5 mb-5">
  <%= paginate @board_comments %>
</div>
<div class="row">
    <div class="col-10 offset-1">
    <% if current_member.email != "guest@example.com" %>
      <%= render "public/board_comments/form", board: @board, board_comment: @board_comment %>
    <% end %>
    </div>
  </div>
</div>


