<div class="container">
  <div class="row">
    <div class="col">
    <h2>管理者ログイン</h2>

    <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
      <table class="table member_info member_form">
        <thead>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td><%= f.label :email, "メールアドレス", class: "form-label" %></td>
            <td colspan="2"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :password, "パスワード", class: "form-label" %></td>
            <td colspan="2"><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2"> <%= f.submit "ログイン", class: "btn btn-primary" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    </div>
  </div>
</div>


