<div class="container">
  <div class="row">
    <div class="col-2">
      <% @random_posts.each do |post| %>
        <%= link_to post_path(post.id), class: "text-decoration-none" do %>
          <div class="card-body mb-2 text-dark text-center">
            <%= image_tag post.get_image, size:"100x100", class: "card-image" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="offset-1 col-6 justify-content-center d-flex flex-column align-items-center">
      <div class="justify-content-center d-flex flex-column align-items-center">
        <h3 class="text-center">このサイトは、</h3>
        <h3 class="text-center">趣味を探している人、</h3>
        <h3 class="text-center">人の投稿を通し趣味を疑似体験したい人、</h3>
        <h3 class="text-center">そのような人達のためのサイトです。</h3>
        <h6 class="text-center pt-3">※以下の場合は投稿やコメント、会員そのものを削除させていただくことがあります。</h6>
        <ul>
          <li>公序良俗違反にあたる投稿等をした人</li>
          <li>名誉棄損にあたる投稿等をした人</li>
        </ul>
      </div>
    </div>
    <div class="col-2">
      <% @random_posts.each do |post| %>
        <%= link_to post_path(post.id), class: "text-decoration-none" do %>
          <div class="card-body mb-2 text-dark text-center">
            <%= image_tag post.get_image, size:"100x100", class: "card-image" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h3>新規投稿</h3>
  </div>
  <div class="row card-group justify-content-between">
    <% @new_posts.reverse_each do |post| %>
      <%= link_to post_path(post.id) do %>
        <div class="card mx-3 text-center", style="width: 200px;">
          <div class="card-header text-dark text-center">
            <%= post.title.truncate(10) %>
          </div>
          <div class="card-body mb-2 text-dark">
            <%= image_tag post.get_image, size:"60x60", class: "card-image" %>
            <p class="card-text text-center"><%= post.member.nickname.truncate(10) %></p>
            <p class="card-text text-center"><%= post.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
