<div class="container">
  <div class="row">
    <div class="col-2">
      <% @random_posts.each do |post| %>
        <%= link_to post_path(post.id), class: "text-decoration-none" do %>
          <div class="card-body mb-2 text-dark text-center">
            <%= image_tag post.get_image, size:"100x100", class: "card-image" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="offset-1 col-6 justify-content-center d-flex flex-column align-items-center">
      <h1 class="text-nowrap">Welcome to Hobby Link!!</h1>
      <p class="text-center">趣味ある人も、</p>
      <p class="text-center">趣味今ない人も、</p>
      <p class="text-center">もっと余暇を楽しみましょう!!</p>
    </div>
    <div class="col-2">
      <% @random_posts.each do |post| %>
        <%= link_to post_path(post.id), class: "text-decoration-none" do %>
          <div class="card-body mb-2 text-dark text-center">
            <%= image_tag post.get_image, size:"100x100", class: "card-image" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h3>新規投稿</h3>
  </div>
  <div class="row card-group justify-content-between">
    <% @new_posts.reverse_each do |post| %>
      <%= link_to post_path(post.id) do %>
        <div class="card mx-3 text-center", style="width: 200px;">
          <div class="card-header text-dark text-center">
            <%= post.title.truncate(10) %>
          </div>
          <div class="card-body mb-2 text-dark">
            <%= image_tag post.get_image, size:"60x60", class: "card-image" %>
            <p class="card-text text-center"><%= post.member.nickname.truncate(10) %></p>
            <p class="card-text text-center"><%= post.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>




