<table class='table table-bordered border-primary '>
  <tr>
    <th>会員画像</th>
    <th class="text-center"><%= image_tag member.get_profile_image, size:"80x80" %></th>
  </tr>
  <tr>
	  <th>会員名</th>
	  <th><%= member.full_name %></th>
  </tr>
  <tr>
	  <th>会員名（カナ）</th>
	  <th><%= member.full_name_kana %></th>
  </tr>
  <tr>
	  <th>会員名</th>
	  <th><%= member.nickname%></th>
  </tr>
  <tr>
	  <th>自己紹介文</th>
	  <th><%= member.introduction %></th>
  </tr>
  <tr>
	  <th>メールアドレス</th>
	  <th><%= member.email %></th>
  </tr>
  <tr>
	  <th>趣味ステータス</th>
	  <th><<%= member.hobby_state_i18n %></th>
  </tr>
  <tr>
    <th>フォロー一覧</th>
    <th><%= link_to member.followings.count, member_followings_path(member) %></th>
  </tr>
  <tr>
    <th>フォロワー一覧</th>
    <th><%= link_to member.followers.count, member_followers_path(member) %></th>
  </tr>
  <tr>
    <th>ブックマーク一覧</th>
    <th><%= link_to member.favorites.count, member_favorites_path(member_id: member.id) %></th>
  </tr>
</table>

