<div class='container'>
  <div class='row'>
    <div class="col-12 col-lg-10 offset-lg-1">
      <% if current_member.email == "guest@example.com" %>
        <h2 class="d-inline-block mr-5 mb-3">会員詳細</h2>
      <% elsif current_member != @member %>
         <h2 class="d-inline-block mr-5 mb-3">会員詳細</h2>
        <%= render "public/relationships/btn", member: @member %>
      <% else %>
        <h2 class="d-inline-block my-5">マイページ　</h2>
        <%= link_to "編集画面へ",  edit_information_path(current_member.id), class: "btn btn-secondary ml-2" %>
      <% end %>
      <table class='table table-bordered text-center'>
        <tr>
          <th>会員画像</th>
          <th><%= image_tag @member.get_profile_image, size:"60x60" %></th>
        </tr>
        <% if current_member.id == @member.id %>
          <tr>
        	  <th>会員氏名</th>
        	  <th><%= @member.full_name %></th>
          </tr>
          <tr>
        	  <th>会員氏名（カナ）</th>
        	  <th><%= @member.full_name_kana %></th>
          </tr>
        <% end %>
        <tr>
      	  <th>会員ニックネーム</th>
      	  <th><%= @member.nickname%></th>
        </tr>
        <tr>
      	  <th>メールアドレス</th>
      	  <th><%= @member.email %></th>
        </tr>
        <tr>
      	  <th>自己紹介文</th>
      	  <th><%= @member.introduction %></th>
        </tr>
        <tr>
      	  <th>趣味ステータス</th>
      	  <th><%= @member.hobby_state_i18n %></th>
        </tr>
        <tr>
          <th>会員の投稿数</th>
          <th><%= link_to @member.posts.count, member_posts_path(@member) %></th>
        </tr>
        <tr>
          <th>フォロー一覧</th>
          <th><%= link_to @member.followings.count, member_followings_path(@member) %></th>
        </tr>
        <tr>
          <th>フォロワー一覧</th>
          <th><%= link_to @member.followers.count, member_followers_path(@member) %></th>
        </tr>
        <tr>
          <th>ブックマーク一覧</th>
          <th><%= link_to @member.favorites.count, member_favorites_path(member_id: @member.id) %></th>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <h3>新規投稿</h3>
  </div>
  <div class="row card-group justify-content-between">
    <% @new_posts.reverse_each do |post| %>
      <%= link_to post_path(post.id) do %>
        <div class="card mx-3  text-center", style="width: 200px;">
          <div class="card-header text-dark text-center">
            <%= post.title.truncate(10) %>
          </div>
          <div class="card-body mb-2 text-dark">
            <%= image_tag post.get_image, size:"60x60", class: "card-image" %>
            <p class="card-text text-center"><%= post.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


