<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-9 d-inline'>
      <% if current_member != @member %>
        <h2 class="d-inline-block my-5">会員詳細　</h2>
        <%= render "public/relationships/btn", member: @member %>
      <% else %>
        <h2 class="d-inline-block my-5">マイページ　</h2>
        <%= link_to "編集画面へ",  edit_information_path(current_member.id), class: "btn btn-secondary" %>
      <% end %>
      <%= render 'show', member: @member %>
    </div>
  </div>
  <h3>新規投稿</h3>
  <div class="row">
    <% @new_posts.reverse_each do |post| %>
      <div class="card-group">
      <%= link_to admin_post_path(post.id) do %>
        <div class="card text-center px-3 mx-3">
          <div class="card-header text-dark">
            <%= post.title %>
          </div>
          <div class="card-body text-dark">
            <%= image_tag post.get_image, size:"60x60", class: "card-img" %>
            <p class="card-text"><%= post.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
      <h3>新規投稿</h3>
      <% @new_posts.reverse_each do |post| %>
        <%= link_to post_path(post.id) do %>
          <div class="card mb-3">
            <div class="card-header text-dark text-center">
              <%= post.title %>
            </div>
            <div class="card-body mb-2 text-dark">
              <%= image_tag post.get_image, size:"50x50", class: "card-img" %>
              <p class="card-text text-center"><%= post.member.nickname %></p>
              <p class="card-text text-center"><%= post.created_at.strftime('%Y/%m/%d') %></p>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>


