<table class='table table-bordered text-center'>
  <thead class="table-secondary">
    <tr>
      <th>タイトル</th>
      <th>概要</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>最終更新日時</th>
      <th colspan="1"></th>
      </tr>
  </thead>
  <tbody>
    <% boards.each do |board| %>
      <tr>
        <td><%= board.title.truncate(10) %></td>
        <td><%= board.body.truncate(30) %></td>
        <td><%= link_to board.member.nickname.truncate(10), admin_member_path(board.member.id) %></td>
        <td><%= board.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= board.updated_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to "掲示板へ", admin_board_path(board.id), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
