<div class="container">
  <div class="row">
    <div class="col-2">
      <h2>掲示板</h2>
    </div>
    <div class="col-2 offset-8">
      <%= link_to "削除", admin_board_path(@board), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered table-dark text-light">
      <caption style="caption-side: top; text-align: right;">タイトル：掲示板概要</caption>
      <thead>
        <tr>
          <th><h5 class="col-4"><%= @board.title %></h5></th>
          <th><h6 class="col-8"><%= @board.body %></h6></th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="row">
    <% @board_comments.each do |board_comment| %>
      <table class="table table-sm table-borderless table-striped table-responsive col-12">
        <thead>
          <tr>
            <th class="text-wrap col-10"><%= board_comment.comment %></th>
            <th class="text-nowrap col-1"><%= board_comment.member.nickname %></th>
            <th class="text-nowrap col-1", style="width: 20%;"><%= board_comment.created_at.strftime('%Y/%m/%d') %></th>
          </tr>
        </thead>
      </table>
    <% end %>
</div>
<div class="offset-5 mb-5">
  <%= paginate @board_comments %>
</div>
<div class="row">
    <div class="col-10 offset-1">
      <%= render "admin/board_comments/form", board: @board, board_comment: @board_comment %>
    </div>
  </div>
</div>