<table class="table table-bordered table-striped table-responsive">
  <tbody>
      <% post_comments.each do |post_comment| %>
      <tr>
        <td class="text-nowrap text-center", style="width: 20%">
          <%= link_to member_path(post_comment.member) do %>
            <%= image_tag post_comment.member.get_profile_image, size: "20x20" %><br>
            <%= post_comment.member.nickname %>
          <% end %>
        </td>
        <td style="width: 60%"><%= post_comment.comment %></td>
          <% if post_comment.member == current_member %>
          <td class="text-center", style="width: 20%">
            <%= link_to "削除する", post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-danger btn-sm text-nowrap" %>
          </td>
          <% end %>
      </tr>
      <% end %>
  </tbody>
</table>

