<div class="container">
  <div class='row'>
    <div class="col-md-10 px-5 px-sm-0 mx-auto mt-4">

  <h1>新規会員登録</h1>
  <%= form_with model: @member, url: registration_path(resource_name) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-row mt-5">
      <%= f.label :名前, class: 'col-sm-3 col-form-label' %>
      <div class="col">
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :placeholder => "姓" %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :placeholder => "名" %>
      </div>
    </div>

    <div class="form-row">
       <%= f.label :カナ, class: 'col-sm-3 col-form-label' %>
      <div class="col">
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", :placeholder => "セイ" %>
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", :placeholder => "メイ" %>
      </div>
    </div>

    <div class="form-row">
        <%= f.label :メールアドレス, class: 'col-sm-3 col-form-label' %>
      <div class="col">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

     <div class="form-row">
        <%= f.label :ニックネーム, class: 'col-sm-3 col-form-label' %>
      <div class="col">
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
      </div>
    </div>

    <div class="form-row">
        <%= f.label :パスワード（6文字以上）, class: 'col-sm-3 col-form-label' %>
      <div class="col">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="form-row">
        <%= f.label :パスワード（確認用）, class: 'col-sm-3 col-form-label' %>
      <div class="col">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="mt-4 mb-4">
      <%= f.submit "新規登録", class: 'btn btn-success' %>
    </div>

  <% end %>

  <h2>既に登録済みの方</h2>
  <p><%= link_to "こちら", new_member_session_path %>からログインしてください。</p>

  <h2>今回はゲストログインという方</h2>
  <p><%= link_to "こちら", new_member_registration_path %>からゲストログインして下さい。</p>

<%= render "public/shared/links" %>
