<!DOCTYPE html>
<html>
  <head>
    <title>HobbyLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <div class="container mb-3">
        <div class="row align-items-center bg-dark mb-1">
        <h1 class="d-inline-block col-2"><%= link_to "HobbyLink", (admin_signed_in? ? admin_top_path : root_path ), class: "text-light fnt-italic" %></h1>
        <% if member_signed_in? %>
          <strong class="d-inline-block col-4 offset-2 text-light">ようこそ、<%= current_member.nickname %>さん!</strong>
           <form class="d-flex ms-auto">
              <%= render 'searches/form' %>
            </form>
        <% end %>
        </div>
        <div class="row align-items-center bg-dark">
          <ul class="nav nav-tabs">
            <% if admin_signed_in? %>
              <li class="nav-item"><%= link_to '会員一覧',  admin_members_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to '投稿一覧',  admin_posts_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to '掲示板一覧',  admin_boards_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to 'ジャンル一覧',  admin_genres_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link text-light" %></li>
            <% elsif member_signed_in? %>
              <li class="nav-item"><%= link_to 'マイページ', member_path(current_member.id), class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to '会員一覧', members_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to '投稿一覧', posts_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to '掲示板一覧',  boards_path, class: "nav-link text-light" %></li>
              <% unless current_member.email == "guest@example.com" %>
                <li class="nav-item"><%= link_to '新規投稿', new_post_path, class: "nav-link text-light" %></li>
              <% end %>
              <li class="nav-item"><%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: "nav-link text-light" %></li>
            <% else %>
              <li class="nav-item"><%= link_to 'top', root_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to 'about', about_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to '新規投稿', new_member_registration_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to 'ログイン', new_member_session_path, class: "nav-link text-light" %></li>
              <li class="nav-item"><%= link_to 'ゲストログイン（閲覧用)', guest_sign_in_path, method: :post, class: "nav-link text-light" %></li>
            <% end %>
          </ul>
      </div>
    </div>
    </header>
    <main>
    <%= yield %>
    </main>
     <footer>
       <div class="text-center">Copyright © Shimizug. All Rights Reserved.</div>
      </footer>
  </body>
</html>
