<!DOCTYPE html>
<html>
  <head>
    <title>HobbyLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="<%= (admin_signed_in? ? "admin_header" : "" ) %>">
      <div class="header-content">
      <%= link_to "HobbyLink", (admin_signed_in? ? admin_top_path : root_path ), class: "fs-2" %>
      <% if member_signed_in? %>
        <p class="nav-item">ようこそ、<%= current_member.nickname %>さん!</p>
      <% end %>
        <ul class="nav justify-content-between">
          <% if admin_signed_in? %>
            <li class="nav-item"><%= link_to '会員一覧',  admin_members_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '投稿一覧',  admin_posts_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '掲示板一覧',  admin_boards_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ジャンル一覧',  admin_genres_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
          <% elsif member_signed_in? %>
            <li class="nav-item"><%= link_to 'マイページ', members_path(current_member.id), class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '会員一覧', members_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '投稿一覧', posts_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '掲示板一覧',  boards_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'about', about_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '会員一覧', members_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '投稿一覧', posts_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '掲示板一覧',  boards_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '新規登録', new_member_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログイン', new_member_session_path, class: "nav-link" %></li>
          <% end %>
        </ul>

    <main>
    <%= yield %>
    </main>
     <footer>Copyright © Shimizug. All Rights Reserved.</footer>
  </body>
</html>
